:root {
	--radius: 5px;
	font-size:16px;
	font-family: Arial, sans-serif;
	text-align:center;
}

body{
	background:#C0A886;
	font-size:1.25em;
}

h1{
	font-size: 1.5em;
}

.container{
	display:grid;
	grid-template-columns: 16em 25em;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"calculator calculator"
		"results1 results2";
	grid-gap:0.25em;
	justify-content:center;
	
}

#calculator{
	/* Grid */
	grid-area:calculator;
	border-radius: var(--radius);
	padding-left:1.25em;
	padding-bottom:1.25em;
	background:#F9F3EB;

	/* Content Style */
	text-align:left;
	font-size:1em;
	line-height:1.25em;
}

#results1{
	grid-area:results1;
	border-radius: var(--radius);
	background:#F9F3EB;
}

#results2{
	grid-area:results2;
	border-radius: var(--radius);
	background:#F9F3EB;
}

@media only screen and (max-width:750px){
	.container{
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
			"calculator"
			"results1"
			"results2";
	}

	#calculator{
		height:auto;
		text-align:center;
		padding-left:1em;
	}

	#results1{
		background:#F9F3EB;
	}

	#results2{
		background:#F9F3EB;
	}
}