:root {
	--radius: 5px;
	font-size:16px;
	font-family: Arial, sans-serif;
	text-align:center;
}

body{
	background:#C0A886;
	font-size:1.25em;
}

h1{
	font-size: 1.5em;
}

.calcbutton, .aboutbutton{
	padding:0.5em;
	padding-left:0.75em;
	padding-right:0.75em;
	border-radius:5px;
	border:1px solid #000000;
	margin-top:0.75em;
	margin-right:0.5em;
}

.calcbutton{
	background-color:#605443;
	color:white;
	font-weight: bold;
	box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2), 0 0.75em 1.25em 0 rgba(0,0,0,0.19);
}

.calcbutton:hover{
	background-color:#7d6d57;
}

.aboutbutton{
	background-color:EFEEE6;
}

.aboutbutton:hover{
	background-color:#FFFFFF;
}

.container{
	display:grid;
	grid-template-columns: 16em 25em;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
		"calculator calculator"
		"results1 results2"
		"about about";
	grid-gap:0.25em;
	justify-content:center;
}

#calculator{
	/* Grid */
	grid-area:calculator;
	border-radius: var(--radius);
	padding-left:1.25em;
	padding-bottom:1.25em;
	background:#F9F3EB;

	/* Content Style */
	text-align:left;
	line-height:1.25em;
}

#results1{
	grid-area:results1;
	border-radius: var(--radius);
}

#results2{
	grid-area:results2;
	border-radius: var(--radius);
}

#about{
	grid-area:about;
	border-radius: var(--radius);
	text-align:left;
	padding-left:1.25em;
	font-size:1em;
}

@media only screen and (max-width:750px){
	.container{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-template-areas: 
			"calculator"
			"results1"
			"results2"
			"about";
	}

	#calculator h1{
		text-align:center;
	}
}
